mixin dsModal(title, dataValue, text)
  .ds-modal__container(data-ds-modal=dataValue)
    .ds-modal__wrapper
      .ds-modal
        .ds-modal__close-button(data-ds-modal-close=dataValue)
        .ds-modal__header= title
        .ds-modal__body= text
        .ds-modal__footer
          button.ds-modal__button(data-ds-modal-close=dataValue) Ok

